.refresh
*.fdb_latexmk
*.fls
*.end
*.log
*~
*.tmp
*.bcf
*.run.xml

# Latex gitignore
# Stolen from: https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
